<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
